 @model IEnumerable<OMM.App.Models.ViewModels.AssignmentDetailsAssistantViewModel>

<!-- Button trigger modal -->
<button type="button" class="btn btn-warning p-1" data-toggle="modal" data-target="#assignmentAssistants">
    Assistants <span class="badge badge-light">2</span>
</button>

<!-- Modal -->
<div class="modal fade" id="assignmentAssistants" tabindex="-1" role="dialog" aria-labelledby="assignmentAssistantsScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="assignmentAssistantsScrollableTitle">Assistants</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @foreach (var assistant in Model)
                {
                    <div class="bg-warning rounded mb-2 p-1">
                        <img src="@(assistant.ProfilePicture)" class="proj-participant-img rounded-circle mx-left m-1 mr-2 " alt="picture">
                        <span>@assistant.FullName  -  </span>
                        <span>@assistant.DepartmentName</span>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>