<form asp-controller="Employees" asp-action="ForgotPassword" method="post" id="forgot-password-form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label for="EmailToRetrieve" class="col-form-label">Email</label>
        <input type="text" class="form-control" id="EmailToRetrieve" name="EmailToRetrieve">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn login_btn forgot-password" onclick="retrievePassword()">Send</button>
    </div>
</form>
