@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form method="post">
    <textarea id="mytextarea">Hello, World!</textarea>
</form>

@section Scripts{
<script src="~/lib/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="~/js/run-tinymce.js"></script>
}
