

@using Microsoft.AspNetCore.Identity
@using OMM.Domain
@using OMM.App.Common

@inject UserManager<Employee> UserManager

<h4 class="mb-1 text-center">Assignment</h4>
<hr class="hr-oom" style="width:300px;" />
<h5 class="mb-1 text-center">190809-OL-SoftwareProject</h5>
<h5 class="mb-3 text-center">Offer</h5>
<hr class="hr-oom" style="width:300px;" />

<div class="container-fluid">
    <div class="row justify-content-center" id="assignmentDetails">
        <div class="col-6">
            <div class="row">
                <div class="col-4">
                    <img src="~/images/avatar.jpg" alt="avatar" class="rounded-lg img-thumbnail mx-auto d-block">
                </div>
                <div class="col-8">
                    <div class="h6 pl-2 py-1 bg-info text-light rounded">
                        Oniqqqqqqq M. Loshiqqqqqqqqqq
                    </div>
                    <div class="h6 pl-2 py-1 bg-info text-light rounded">
                        oniqloshiq@ludnica.bg
                    </div>
                    <div class="h6 pl-2 py-1 bg-info text-light rounded">
                        +3598888888888
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">

        </div>

    </div>
</div>
