@model OMM.App.Infrastructure.ViewComponents.Models.ProjectPositions.ProjectPositionViewComponentViewModel

<select class="form-control" asp-for="ProjectPositionId" asp-items="@Model.ProjectPositions">
    <option selected disabled>--Choose a position--</option>
</select>