<div>
    <button id="empl-collapse" class="btn btn-primary btn-block py-0 mb-2" type="button" data-toggle="collapse" data-target=".multi-collapse-1" aria-expanded="false" aria-controls="multiCollapse-1">
        Management board
    </button>
    <div class="row mx-1 mb-2 d-flex justify-content-between">
        <div class="col-auto mb-3 px-2 d-flex justify-content-center">
            <div class="collapse show multi-collapse-1" id="multiCollapse-1">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <div class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto mb-3 px-2 d-flex justify-content-center">
            <div class="collapse show multi-collapse-1" id="multiCollapse-1">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <div class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto mb-3 px-2 d-flex justify-content-center">
            <div class="collapse show multi-collapse-1" id="multiCollapse-1">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <div class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto mb-3 px-2 d-flex justify-content-center">
            <div class="collapse show multi-collapse-1" id="multiCollapse-1">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <div class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto mb-3 px-2 d-flex justify-content-center">
            <div class="collapse show multi-collapse-1" id="multiCollapse-1">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <div class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <button id="empl-collapse" class="btn btn-primary btn-block py-0 mb-2" type="button" data-toggle="collapse" data-target=".multi-collapse-2" aria-expanded="false" aria-controls="multiCollapse-2">
        Human Resources
    </button>
    <div class="row mx-1 mb-4 d-flex justify-content-between">
        <div class="col">
            <div class="collapse show multi-collapse-2" id="multiCollapse-2">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <div class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <button id="empl-collapse" class="btn btn-primary btn-block py-0 mb-2" type="button" data-toggle="collapse" data-target=".multi-collapse-3" aria-expanded="false" aria-controls="multiCollapse-3">
        Accounting
    </button>
    <div class="row mx-1 mb-4 d-flex justify-content-between">
        <div class="col">
            <div class="collapse show multi-collapse-3" id="multiCollapse-3">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <div class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <button id="empl-collapse" class="btn btn-primary btn-block py-0 mb-2" type="button" data-toggle="collapse" data-target=".multi-collapse-4" aria-expanded="false" aria-controls="multiCollapse-4">
        Engineering
    </button>
    <div class="row mx-1 mb-4 d-flex justify-content-between">
        <div class="col">
            <div class="collapse show multi-collapse-4" id="multiCollapse-4">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <div class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <button id="empl-collapse" class="btn btn-primary btn-block py-0 mb-2" type="button" data-toggle="collapse" data-target=".multi-collapse-5" aria-expanded="false" aria-controls="multiCollapse-5">
        Administration
    </button>
    <div class="row mx-1 mb-4 d-flex justify-content-between">
        <div class="col">
            <div class="collapse show multi-collapse-5" id="multiCollapse-5">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <div class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
