<div class="d-flex justify-content-start mb-3">
    <button class="btn btn-outline-success text-dark" type="button" onclick="addRow()"><i class="fas fa-user-plus pr-2"></i>Add employee to project</button>
</div>

<table class="table table-striped table-warning table-hover">
    <thead class="bg-warning">
        <tr>
            <th scope="col" style="width: 33.32%;font-weight:bold;"colspan="2">Employee</th>
            <th scope="col" style="width: 24.99%; font-weight:bold;">Department</th>
            <th scope="col" style="width: 24.99%; font-weight:bold;">Project Position</th>
            <th scope="col" style="width: 16.66%; font-weight:bold;">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="align-middle" style="width: 5%"><img src="~/images/avatar.jpg" class="proj-participant-img rounded-circle mx-left " alt="..."></td>
            <td class="align-middle" style="width: 28.32%">
                <div class="input-group mb-2">
                    <select class="form-control selectpicker show-tick" name="participant" data-style="btn-white" data-live-search="true" data-width="auto">
                        <option selected disabled></option>
                        <optgroup label="Management Board">
                            <option>Oniq</option>
                            <option>Loshiq</option>
                            <option>Toq</option>
                        </optgroup>
                        <optgroup label="HR">
                            <option>Oniq</option>
                            <option>Loshiq</option>
                            <option>Toq</option>
                        </optgroup>
                        <optgroup label="Accounting">
                            <option>Oniq</option>
                            <option>Loshiq</option>
                            <option>Toq</option>
                        </optgroup>
                        <optgroup label="Engineering">
                            <option>Oniq</option>
                            <option>Loshiq</option>
                            <option>Toq</option>
                        </optgroup>
                        <optgroup label="Administration">
                            <option>Oniq</option>
                            <option>Loshiq</option>
                            <option>Toq</option>
                        </optgroup>
                    </select>
                </div>
            </td>
            <td class="align-middle">Department</td>
            <td class="align-middle">
                <select class="form-control" id="projectPosition">
                    <option disabled selected></option>
                    <option>Project Manager</option>
                    <option>Participant</option>
                    <option>Assistant</option>
                </select>
            </td>
            <td class="align-middle">
                <button type="button" class="btn btn-danger" onclick="removeRow()">Remove</button>
            </td>
        </tr>
    </tbody>
</table>
