<aside id="sidebar" class="col-12 col-md-auto p-0 ">
    <nav class="navbar navbar-expand navbar-dark flex-md-column flex-row  p-0">
        <div class="collapse navbar-collapse w-100">
            <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                <li class="sidenav-header d-flex align-items-start justify-content-center w-100 ">
                    <ul class="sidenav-header-inner text-center">
                        <li>
                            <img src="~/images/avatar.jpg" alt="avatar" class="rounded-circle">
                            <h5 class="d-none d-md-block">OniqLoshiq</h5>
                            <span class="d-none d-md-block">Junior Web Developer</span>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-3 dropdown-toggle" href="#projectsSubmenu" data-toggle="collapse" aria-expanded="false"><i class="fas fa-project-diagram mr-2"></i> <span class="d-none d-sm-inline">Projects</span></a>
                    <ul class="collapse list-unstyled" id="projectsSubmenu">
                        <li>
                            <a class="pl-5" href="#">All</a>
                        </li>
                        <li>
                            <a class="pl-5" href="#">Create</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-3 dropdown-toggle" href="#assignmentsSubmenu" data-toggle="collapse" aria-expanded="false"><i class="fas fa-tasks mr-2"></i> <span class="d-none d-sm-inline">Assignments</span></a>
                    <ul class="collapse list-unstyled" id="assignmentsSubmenu">
                        <li>
                            <a class="pl-5" href="#">All</a>
                        </li>
                        <li>
                            <a class="pl-5" href="#">Project related</a>
                        </li>
                        <li>
                            <a class="pl-5" href="#">Personal</a>
                        </li>
                        <li>
                            <a class="pl-5" href="#">Create</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-3 dropdown-toggle" href="#employeesSubmenu" data-toggle="collapse" aria-expanded="false"><i class="fas fa-users mr-2"></i> <span class="d-none d-sm-inline">Employees</span></a>
                    <ul class="collapse list-unstyled" id="employeesSubmenu">
                        <li>
                            <a class="pl-5" href="#">All</a>
                        </li>
                        <li>
                            <a class="pl-5" href="#">Register</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-3 dropdown-toggle" href="#assetsSubmenu" data-toggle="collapse" aria-expanded="false"><i class="fas fa-warehouse mr-2"></i> <span class="d-none d-sm-inline">Assets</span></a>
                    <ul class="collapse list-unstyled" id="assetsSubmenu">
                        <li>
                            <a class="pl-5" href="#">All</a>
                        </li>
                        <li>
                            <a class="pl-5" href="#">Add</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</aside>