@model OMM.App.Infrastructure.ViewComponents.Models.Employees.EmployeesDepartmentListViewComponentViewModel


<select class="form-control selectpicker show-tick employee-id" asp-for="EmployeeId" asp-items="@Model.Employees" data-style="btn-white" data-live-search="true" data-width="auto">
    <option></option>
</select>