@model IEnumerable<OMM.App.Infrastructure.ViewComponents.Models.DepartmentViewComponentViewModel>


@foreach (var department in Model)
{
    <option value="@department.Name">@department.Name</option>
}

