<table id="myDataTable" class="display table-sm table table-striped table-light table-hover table-bordered" style="width:100%">
    <thead class="bg-warning">
        <tr>
            <th scope="col">Inv. number</th>
            <th scope="col">Type</th>
            <th scope="col">Make</th>
            <th scope="col">Model</th>
            <th scope="col">Ref. number</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1907-F-OMM-123</td>
            <td>Software</td>
            <td>Microsoft</td>
            <td>Microsoft Office</td>
            <td>BSLAFDULWR18891SD</td>
        </tr>
        <tr>
            <td>1907-F-OMM-123</td>
            <td>Software</td>
            <td>Microsoft</td>
            <td>Microsoft Office</td>
            <td>BSLAFDULWR18891SD</td>
        </tr>
        <tr>
            <td>1907-F-OMM-123</td>
            <td>Software</td>
            <td>Microsoft</td>
            <td>Microsoft Office</td>
            <td>BSLAFDULWR18891SD</td>
        </tr>
        <tr>
            <td>1907-F-OMM-123</td>
            <td>Software</td>
            <td>Microsoft</td>
            <td>Microsoft Office</td>
            <td>BSLAFDULWR18891SD</td>
        </tr>
        <tr>
            <td>1907-F-OMM-123</td>
            <td>Software</td>
            <td>Microsoft</td>
            <td>Microsoft Office</td>
            <td>BSLAFDULWR18891SD</td>
        </tr>
        <tr>
            <td>1907-F-OMM-123</td>
            <td>Software</td>
            <td>Microsoft</td>
            <td>Microsoft Office</td>
            <td>BSLAFDULWR18891SD</td>
        </tr>
        <tr>
            <td>1907-F-OMM-123</td>
            <td>Software</td>
            <td>Microsoft</td>
            <td>Microsoft Office</td>
            <td>BSLAFDULWR18891SD</td>
        </tr>
        <tr>
            <td>1907-F-OMM-123</td>
            <td>Software</td>
            <td>Microsoft</td>
            <td>Microsoft Office</td>
            <td>BSLAFDULWR18891SD</td>
        </tr>
        <tr>
            <td>1907-F-OMM-123</td>
            <td>Software</td>
            <td>Microsoft</td>
            <td>Microsoft Office</td>
            <td>BSLAFDULWR18891SD</td>
        </tr>
        <tr>
            <td>1907-F-OMM-123</td>
            <td>Software</td>
            <td>Microsoft</td>
            <td>Microsoft Office</td>
            <td>BSLAFDULWR18891SD</td>
        </tr>
        <tr>
            <td>1907-F-OMM-123</td>
            <td>Software</td>
            <td>Microsoft</td>
            <td>Microsoft Office</td>
            <td>BSLAFDULWR18891SD</td>
        </tr>
        <tr>
            <td>1907-F-OMM-123</td>
            <td>Software</td>
            <td>Microsoft</td>
            <td>Microsoft Office</td>
            <td>BSLAFDULWR18891SD</td>
        </tr>
        <tr>
            <td>1907-F-OMM-123</td>
            <td>Software</td>
            <td>Microsoft</td>
            <td>Microsoft Office</td>
            <td>BSLAFDULWR18891SD</td>
        </tr>
        <tr>
            <td>1907-F-OMM-123</td>
            <td>Software</td>
            <td>Microsoft</td>
            <td>Microsoft Office</td>
            <td>BSLAFDULWR18891SD</td>
        </tr>
    </tbody>
</table>



