<form>
    <div class="form-row profile-gen-info">
        <div class="form-group col-md-6 personal-data px-3">
            <div class="form-row">
                <div class="form-group col-lg-4">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control" id="firstName" value="Oniq" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label for="middleName">Middle name</label>
                    <input type="text" class="form-control" id="middleName" value="Dokka" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control" id="lastName" value="Loshiq" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="fullName">Full name</label>
                <input type="text" class="form-control" id="fullName" value="Oniq D. Loshiq" disabled>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-6">
                    <label for="dateOfBirth">Date of birth</label>
                    <input type="text" class="form-control" id="dateOfBirth" name="dateOfBirth" value="01-12-1999" disabled>
                </div>
                <div class="form-group col-lg-6">
                    <label for="appointedOn">Appointed on</label>
                    <input type="text" class="form-control" id="appointedOn" name="appointedOn" value="18-07-2019" disabled>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6 px-3">
            <div class="form-row">
                <div class="form-group col-lg-10">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" value="oniqloshiq@ludnica.com" disabled>
                </div>
                <div class="form-group col-lg-2">
                    <label for="accessLevel">Access</label>
                    <input type="text" class="form-control" id="accessLevel" value="10" disabled>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-6">
                    <label for="department">Department</label>
                    <input type="text" class="form-control" id="department" name="department" value="Engineering" disabled>
                </div>
                <div class="form-group col-lg-6">
                    <label for="position">Position</label>
                    <input type="text" class="form-control" id="position" value="Junior Web" disabled>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-6">
                    <label for="personalPhoneNumber">Pers. phone number</label>
                    <input type="tel" class="form-control" id="personalPhoneNumber" value="88888888888" disabled>
                </div>
                <div class="form-group col-lg-6">
                    <label for="phoneNumber">Phone number</label>
                    <input type="tel" class="form-control" id="phoneNumber" value="88888888888" disabled>
                </div>
            </div>
        </div>
    </div>
</form>

