@model OMM.App.Infrastructure.ViewComponents.Models.Employees.AssistantAssignmentViewComponentViewModel

<select class="form-control selectpicker show-tick" asp-for="AssistantsIds" asp-items="@Model.Assistants" data-style="btn-white" data-live-search="true" multiple data-actions-box="true" data-width="auto">
    <option></option>
</select>