@model OMM.App.Areas.Management.Models.ViewModels.AssetEditViewModel

@{
    ViewData["Title"] = "Edit Asset";
}

<h4 class="mb-3 text-center">Edit Asset</h4>
<hr class="hr-oom" style="width:300px;" />

<form asp-area="Management" asp-controller="Assets" asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="d-flex justify-content-center">
        <div class="form-row w-75 management">
            <div class="col-12">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="InventoryNumber"></label>
                        <input class="form-control" asp-for="InventoryNumber">
                        <span asp-validation-for="InventoryNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="AssetTypeId"></label>
                        <vc:asset-type-select-list asset-type-id="@Model.AssetTypeId"></vc:asset-type-select-list>
                        <span asp-validation-for="AssetTypeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-4">
                        <label asp-for="Make"></label>
                        <input class="form-control" asp-for="Make">
                        <span asp-validation-for="Make" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4">
                        <label asp-for="Model"></label>
                        <input class="form-control" asp-for="Model">
                        <span asp-validation-for="Model" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4">
                        <label asp-for="ReferenceNumber"></label>
                        <input class="form-control" asp-for="ReferenceNumber">
                        <span asp-validation-for="ReferenceNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 flatpickrcontainer">
                        <label asp-for="DateOfAquire">Aquired on</label>
                        <div class="input-group">
                            <input class="form-control" asp-for="DateOfAquire" data-input>
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-warning"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                        <span asp-validation-for="DateOfAquire" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-8">
                        <label asp-for="EmployeeId"></label>
                        <div class="input-group">
                                <vc:employees-department-list employee-id="@Model.EmployeeId"></vc:employees-department-list>
                            <span asp-validation-for="EmployeeId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="hr-oom w-25" />
    <div class="d-flex justify-content-center">
        <a class="btn btn-outline-danger" asp-area="Management" asp-controller="Assets" asp-action="All">Cancel</a>
        <button type="submit" class="btn btn-outline-success ml-4">Edit</button>
    </div>
    <hr class="hr-oom w-25" />
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr.l10ns.default.firstDayOfWeek = 1; // Monday default is sunday

        document.getElementsByClassName("flatpickrcontainer").flatpickr({
            wrap: true,
            weekNumbers: true,
            dateFormat: "d-m-Y"
        });
    </script>
}

