@model OMM.App.Infrastructure.ViewComponents.Models.AssetTypes.AssetTypeSelectListViewComponentViewModel


<select class="form-control" asp-for="AssetTypeId" asp-items="@Model.AssetTypes">
    @if (Model.AssetTypeId == 0)
    {
        <option selected disabled>--Choose asset's type--</option>
    }
</select>




