@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="jumbotron forecast-container py-0 px-3 ">
    <div class="row">
        <div class="forecast-today py-2 pl-2 pr-1 col-12 col-md-auto forecast-content-color">
            <div class="d-flex justify-content-between">
                <div>Monday</div>
                <div>18 Jul</div>
            </div>
            <div class="pt-2" style="font-size: 18px"><strong>Sofia</strong></div>
            <div class="px-2 pt-1 d-flex justify-content-center">
                <img src="~/images/weather/36.png" class="forecast-today-img" alt="Hot" />
                <span class="py-1 px-2 forecast-today-temp"><i class="fas fa-long-arrow-alt-up"></i>23<span>&#8451;</span></span>
                <span class="py-1 px-2 forecast-today-temp"><i class="fas fa-long-arrow-alt-down"></i>15<span>&#8451;</span></span>
            </div>

        </div>
        <div class="forecast-week align-content-between text-center col-2 col-md-auto px-0 forecast-content-color">
            <div class="py-2">Tuesday</div>
            <div class="py-4"><img src="~/images/weather/36.png" class="forecast-week-img" alt="Hot" /></div>
            <div class="d-flex flex-column align-content-start">
                <div class="py-1 forecast-week-max-temp">23<span>&#8451;</span></div>
                <div class="pt-0 pb-3 forecast-week-min-temp">15<span>&#8451;</span></div>
            </div>
        </div>
        <div class="forecast-week align-content-between text-center col-2 col-md-auto px-0 forecast-content-color">
            <div class="py-2">Wednesday</div>
            <div class="py-4"><img src="~/images/weather/36.png" class="forecast-week-img" alt="Hot" /></div>
            <div class="d-flex flex-column align-content-start">
                <div class="py-1 forecast-week-max-temp">23<span>&#8451;</span></div>
                <div class="pt-0 pb-3 forecast-week-min-temp">15<span>&#8451;</span></div>
            </div>
        </div>
        <div class="forecast-week align-content-between text-center col-2 col-md-auto px-0 forecast-content-color">
            <div class="py-2">Thursday</div>
            <div class="py-4"><img src="~/images/weather/36.png" class="forecast-week-img" alt="Hot" /></div>
            <div class="d-flex flex-column align-content-start">
                <div class="py-1 forecast-week-max-temp">23<span>&#8451;</span></div>
                <div class="pt-0 pb-3 forecast-week-min-temp">15<span>&#8451;</span></div>
            </div>
        </div>
        <div class="forecast-week align-content-between text-center col-2 col-md-auto px-0 forecast-content-color">
            <div class="py-2">Friday</div>
            <div class="py-4"><img src="~/images/weather/36.png" class="forecast-week-img" alt="Hot" /></div>
            <div class="d-flex flex-column align-content-start">
                <div class="py-1 forecast-week-max-temp">23<span>&#8451;</span></div>
                <div class="pt-0 pb-3 forecast-week-min-temp">15<span>&#8451;</span></div>
            </div>
        </div>
        <div class="forecast-week align-content-between text-center col-2 col-md-auto px-0 forecast-content-color">
            <div class="py-2">Saturday</div>
            <div class="py-4"><img src="~/images/weather/36.png" class="forecast-week-img" alt="Hot" /></div>
            <div class="d-flex flex-column align-content-start">
                <div class="py-1 forecast-week-max-temp">23<span>&#8451;</span></div>
                <div class="pt-0 pb-3 forecast-week-min-temp">15<span>&#8451;</span></div>
            </div>
        </div>
        <div class="forecast-week align-content-between text-center col-2 col-md-auto px-0 forecast-content-color">
            <div class="py-2">Sunday</div>
            <div class="py-4"><img src="~/images/weather/36.png" class="forecast-week-img" alt="Hot" /></div>
            <div class="d-flex flex-column align-content-start">
                <div class="py-1 forecast-week-max-temp">23<span>&#8451;</span></div>
                <div class="pt-0 pb-3forecast-week-min-temp">15<span>&#8451;</span></div>
            </div>
        </div>
    </div>
</div>
