@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="container-fluid forecast-container">
    <div class="row forecast-header-row">
        <div class="forecast-today forecast-header-color">
            <div class="forecast-header-color d-flex justify-content-between px-2">
                <span>Monday</span>
                <span>18 Jul</span>
            </div>
        </div>
        <div class="forecast-week text-center forecast-header-color">Tuesday</div>
        <div class="forecast-week text-center forecast-header-color">Wednesday</div>
        <div class="forecast-week text-center forecast-header-color">Thursday</div>
        <div class="forecast-week text-center forecast-header-color">Friday</div>
        <div class="forecast-week text-center forecast-header-color">Saturday</div>
        <div class="forecast-week text-center forecast-header-color">Sunday</div>
    </div>
    <div class="row forecast-content-row">
        <div class="forecast-today forecast-content-color text-center">
            <div>23oC</div>
        </div>
        <div class="forecast-week forecast-content-color text-center">
            <div>23oC</div>
        </div>
        <div class="forecast-week forecast-content-color text-center">
            <div>23oC</div>
        </div>
        <div class="forecast-week forecast-content-color text-center">
            <div>23oC</div>
        </div>
        <div class="forecast-week forecast-content-color text-center">
            <div>23oC</div>
        </div>
        <div class="forecast-week forecast-content-color text-center">
            <div>23oC</div>
        </div>
        <div class="forecast-week forecast-content-color text-center">
            <div>23oC</div>
        </div>
    </div>
</div>
