@model OMM.App.Infrastructure.ViewComponents.Models.Departments.DepartmentViewComponentViewModel


<select class="form-control" asp-for="DepartmentId" asp-items="@Model.Departments">
    <option selected disabled>--Choose department--</option>
</select>

